/* font */

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500);

/* colors */

:root {
    --black: #000000;
    --dark-charcoal: #333333;
    --granite-gray: #666666;
    --spanish-gray: #999999;
    --chinese-silver: #CCCCCC;
    --bright-gray: #EEEEEE;
    --whitest: #ffffff;
    /* theme colors */
    --c1: #FB8500;
    --c2: #FFB703;
    --c3: #023047;
    --c4: #219EBC;
    --c5: #8ECAE6;
    --c6: #E5E5E5;
    --c7: #F8F9FA;
    /* tag colors */
    --blue: #6699CC;
    --yellow: #FFF275;
    --orange: #FF8C42;
    --light-red: #FF3C38;
    --dark-red: #A23E48;
}

.dropdown-toggle::after {
    display: none;
}

a {
    text-decoration: none !important;
}

body,
html {
    font-family: 'Montserrat' !important;
    letter-spacing: 0.5px !important;
}

.hbses {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
}

@media screen and (max-width:1000px) {
    .hbses {
        padding-top: 13% !important;
        padding-bottom: 17% !important;
        padding-left: 3% !important;
        padding-right: 3% !important;
    }
}

.row {
    max-width: 100% !important;
    padding-left: 30px !important;
}

.vh-100 {
    padding: 0px !important;
}


/* navbar */

a:link {
    color: none !important;
}

.navbar-brand {
    color: #FFB703 !important;
    font-size: larger;
    font-style: italic;
    font-weight: bold !important;
    padding: 0px 15px 0px 30px !important;
}

.nav-item {
    margin: 0px 15px !important;
    font-size: 14px;
}

.font-awesome {
    font-size: 20px !important;
}

.navbar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.footer-mobile {
    background-color: #FFB703 !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;
    height: 50px !important;
    border-radius: 20px 20px 0 0px !important;
}

.footer-row {
    text-align: center !important;
    padding-left: 15% !important;
}

.nav-foot {
    padding: 5px 40px !important;
    font-size: 25px !important;
}

@media screen and (max-width:1000px) {
    .navbarFoot {
        display: none !important;
    }
    .footer-mobile {
        display: block !important;
    }
}

@media screen and (min-width:1000px) {
    .footer-mobile {
        display: none !important;
    }
}


/* login */

.vh-100 {
    background-color: #F8F9FA !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.login-card {
    border: none !important;
}

.login-form-input {
    border-radius: 15px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: solid 1px #FFB703 !important;
}

.button-login {
    border-radius: 15px !important;
    font-size: medium;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    background-color: #8ECAE6 !important;
    border: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.button-login>a {
    color: none !important;
}

.placeholder-text {
    font-size: medium;
    color: #666666 !important;
}

.brand-logo {
    text-align: center;
    color: #FFB703 !important;
    font-size: larger;
    font-style: italic;
    font-weight: bolder !important;
    margin-top: 20px !important;
}

.card {
    border-radius: 20px !important;
}

.form-outline-bottom {
    padding-bottom: 40px !important;
}


/* admin - users view (table) */

.users-table {
    margin: 30px !important;
    padding: 0px !important;
    background-color: transparent !important;
    border-radius: 30px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.bold-item {
    font-style: bold !important;
    font-weight: bolder !important;
}

table {
    border: 1px solid #EEEEEE !important;
    background-color: #EEEEEE !important;
    border-color: #EEEEEE !important;
    border-radius: 30px !important;
    margin-bottom: -5px !important;
}

thead {
    border-color: inherit !important;
    border: 0px solid #FFB703 !important;
    background-color: #FFB703 !important;
    border-radius: 30px !important;
    font-size: 18px !important;
    font-style: oblique !important;
    font-weight: bolder !important;
}

tr {
    border-color: #FFB703 !important;
    border-radius: 30px !important;
}

tbody {
    font-size: 15px !important;
    border-radius: 30px !important;
}

.uredi-uporabnika {
    font-size: 14px !important;
    border-radius: 15px !important;
    background-color: #219EBC !important;
    border: 3px solid #219EBC;
}

.dodaj-uporabnika {
    background-color: #219EBC;
    height: 100px;
    width: 100px;
    border: 3px solid #219EBC;
    border-radius: 50px;
    float: right;
    font-size: 50px !important;
    margin-bottom: 50px;
    margin-left: 92%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.dodaj-vekipo {
    background-color: #219EBC;
    height: 50px;
    width: 50px;
    border: 3px solid #219EBC;
    border-radius: 25px;
    font-size: 20px !important;
    float: right;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}


/* */


/* */


/* */


/* */


/* */


/* */


/* */


/* */


/* */


/* */


/* */


/* */


/* */

.submit-form {
    /* button for submitting the form */
    background-color: #FB8500 !important;
    border-radius: 20px !important;
    border: 0px solid !important;
    height: 50px !important;
    width: 150px !important;
    color: white;
}

.button-mini {
    background-color: #FB8500 !important;
    border-radius: 20px !important;
    border: 0px solid !important;
    height: 40px !important;
    width: 60px !important;
    color: white;
    text-align: center;
    font-size: 15px !important;
}

@media screen and (max-width:1000px) {
    .dodaj-uporabnika {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        font-size: 24px !important;
        margin-bottom: 68px;
        margin-left: 18px;
    }
}

.modal-content {
    border-radius: 30px !important;
    border: 0px solid !important;
    background-color: #EEEEEE;
}

.modal-header {
    background-color: #EEEEEE;
    border-radius: 30px 30px 0px 0px !important;
    color: #023047;
    border: 0px solid !important;
    font-size: 30px !important
}

.modal-content-ekipa {
    border-radius: 30px !important;
    border: 0px solid !important;
    background-color: #EEEEEE;
}

.modal-header-ekipa {
    padding-top: 15px !important;
    background-color: #EEEEEE;
    border-radius: 30px 30px 0px 0px !important;
    color: #023047;
    border: 0px solid !important;
    font-size: 30px !important
}

.form-label {
    color: #333333;
}

.input-form {
    border-radius: 15px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: solid 1px #FFB703 !important;
    background-color: #EEEEEE !important;
}

.input-form-lg {
    border-radius: 15px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: solid 1px #FFB703 !important;
    background-color: #EEEEEE !important;
    height: 123px !important;
    word-break: normal !important;
    vertical-align: top !important;
}

.form-select {
    width: max-content !important;
    border-radius: 15px !important;
    height: 50px !important;
}


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/* headings & paragraphs */

h1 {
    padding: 10px;
}

h2 {}

h3 {
    padding-left: 35px !important;
    padding-top: 25px !important;
    padding-bottom: 10px !important;
    color: #023047 !important;
    font-size: 30px !important;
}

h4 {}

p {
    padding: 12px;
}


/* dropdown */


/* buttons */


/* button dropdowns */


/* labels & badges */


/* account info */

.account-info {
    background-color: #8ECAE6 !important;
    border: 0px solid !important;
    color: white !important;
}

.account-info>div>h5 {
    color: var(--c3) !important;
    margin: 10px !important;
    padding-bottom: 30px!important
}

.account-info>div>p>span {
    color: #EEEEEE !important;
    font-style: italic !important;
}

.account-info>div>p {
    margin-top: -15px !important;
}

.account-update {
    border: 1px solid var(--c3) !important;
}

.account-update>div>h5 {
    color: var(--c3) !important;
    margin: 10px !important;
    padding-bottom: 30px!important
}

.user-add {
    background-color: #EEEEEE !important;
    border: 0px solid !important;
}

.modal {
    align-items: center !important;
    padding-left: 0px !important;
}

.modal-content {
    background-color: var(--c1) !important;
    color: white !important;
    padding-bottom: 30px !important;
}

.modal-header {
    background-color: var(--c1) !important;
    color: white !important;
}

.modal-content-ekipa {
    background-color: var(--bright-gray) !important;
    color: white !important;
}

.modal-header-ekipa {
    background-color: var(--bright-gray) !important;
    color: white !important;
}

.modal-title {
    padding-left: 13px !important;
    color: var(--c3) !important;
}


/* */


/* */


/* */


/* */


/* */


/* */


/* */


/* */


/* */


/* */


/* */


/* */

.projekt-card {
    color: white !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projekt-card>div>h4 {
    color: var(--c2) !important
}

.collaborator-card {
    border-radius: 15px !important;
    color: #FFFFFF !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: solid 1px #FFB703 !important;
    background-color: #EEEEEE !important;
    width: 170px !important;
    height: 120px !important;
    margin-left: 20px !important;
}

#collaborator_circle {
    border: 2px solid var(--c2) !important;
    height: 50px;
    width: 50px;
    border-radius: 25px !important;
    margin: 5px !important;
    color: #333333 !important;
    font-size: 20px !important;
}

#collaborator_circle_legend {
    border: 1px solid var(--c2) !important;
    height: 14px;
    width: 14px;
    border-radius: 25px !important;
    margin: 1px !important;
    color: #333333 !important;
    font-size: 20px !important;
}

#project_circle_legend {
    border: 1px solid var(--c6) !important;
    height: 14px;
    width: 14px;
    border-radius: 25px !important;
    margin: 1px !important;
    color: #333333 !important;
    font-size: 20px !important;
}

.card-user-preview {
    background-color: var(--c6);
    border: none !important;
    padding: 5px !important;
    height: 200px !important;
    width: 250px !important;
    margin: 10px !important;
    color: var(--c3) !important
}

.card-group-userProj a {
    color: #000000 !important;
}


/* feedback when updating, adding, deleting */

.alert-s-400 {
    margin-bottom: 120px !important;
    text-align: center;
    border-radius: 20px !important;
}

.alert-s-200 {
    margin-bottom: 120px !important;
    text-align: center;
    border-radius: 20px !important;
    background-color: var(--c5) !important;
}

.cut_text {
    white-space: nowrap;
    width: 9ch;
    overflow: hidden;
}

.projekt-user-card {
    box-shadow: rgba(0, 0, 0, 0.24) 6px 6px 7px;
    margin-top: 20px !important;
    background-color: #f1f1f1 !important;
    border: 3px solid var(--c2) !important;
    width: 300px !important;
    height: 270px !important;
    margin-top: 30px !important;
    margin-right: 30px !important;
    padding: 3px !important;
}

.projekt-user-card>div>div>div>h4 {
    font-size: 15px !important;
    line-height: 20px !important;
    color: var(--c3) !important;
    height: 65px !important;
}

#user-story-info>span {
    color: var(--c4) !important;
    font-weight: normal !important;
}

.card-flagss>div>span {
    color: var(--c4) !important;
    width: 100px !important;
    height: 30px !important;
    font-size: 13px !important;
    text-align: center !important;
    border: 1px solid var(--c4) !important;
    border-radius: 10px !important;
    padding: 6px !important;
    margin-top: 5px !important;
    margin-right: 5px !important
}

.card-flagss {
    padding: 0px !important
}

#storyOwner_circle {
    border: 2px solid var(--c2) !important;
    padding: 2px !important;
    text-align: center;
    height: 40px !important;
    width: 40px !important;
    border-radius: 20px !important;
    margin-right: -30px !important;
    color: #EEEEEE !important;
    font-size: 15px !important;
    float: right !important;
}

#taskOwner_circle {
    border: 2px solid var(--c2) !important;
    padding: 2px !important;
    text-align: center;
    height: 40px !important;
    width: 40px !important;
    border-radius: 20px !important;
    color: #EEEEEE !important;
    font-size: 15px !important;
}

.storyOwner_circle-d {
    margin-bottom: -1px !important;
    margin-right: -1px !important
}

.user-card-info>p {
    font-size: 13px !important;
    color: var(--c3) !important;
    margin-bottom: 20px !important;
    padding: 0px !important;
    font-weight: bold !important;
}


/* */

.projekt-sprint {
    box-shadow: rgba(0, 0, 0, 0.24) 6px 6px 7px;
    background-color: var(--c5) !important;
    border: none !important;
    width: 300px !important;
    height: 250px !important;
    margin-top: 30px !important;
    margin-right: 30px !important;
    padding: 15px !important;
}

.projekt-sprint>div>h4 {
    font-size: 20px !important;
    line-height: 20px !important;
    color: var(--c7) !important;
    height: 30px !important;
}

.projekt-sprint>div>p {
    padding: 0px !important;
    font-size: 14px !important;
    color: var(--c3) !important;
}

.projekt-sprint>div>p>span {
    padding: 0px !important;
    font-size: 14px !important;
    color: var(--c7) !important;
}

.nav-tabs-proj {
    color: #000000 !important
}


/* modalno okno za user story */

#modalnoOknoStory {
    width: 100% !important
}

.projekt-management-card {
    margin: 20px !important;
    background-color: var(--c4) !important;
    border: 4px solid var(--c4) !important;
    box-shadow: rgba(0, 0, 0, 0.24) 8px 8px 5px;
    height: 320px !important;
    padding: 5px !important
}

.projekt-management-card>div>h4 {
    color: var(--c7) !important;
    font-size: 19px !important;
    height: 60px !important;
}

.projekt-management-card>div>p {
    padding: 0px !important;
    padding-top: 10px !important;
    font-size: 15px !important;
    height: 60px !important;
    color: white !important;
    font-style: italic !important;
}

.projekt-management-card>div>a {
    padding-top: 16px !important;
}

.projekt-management-button {
    border-radius: 20px !important;
    border: 0px solid !important;
    height: 40px !important;
    width: 100px !important;
    color: white;
    margin-top: 10px !important;
    margin-left: 0px !important;
    font-size: 12px !important;
}

.projekt-management-button1 {
    border-radius: 20px !important;
    border: 0px solid !important;
    height: 50px !important;
    width: 150px !important;
    color: white;
    margin-top: 10px !important;
    margin-left: 0px !important;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}