/* font */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500);

/* colors */

:root {
  --black: #000000;
  --dark-charcoal: #333333;
  --granite-gray: #666666;
  --spanish-gray: #999999;
  --chinese-silver: #CCCCCC;
  --bright-gray: #EEEEEE;
  --whitest: #ffffff;

  /* theme colors */
  --c1: #FB8500;
  --c2: #FFB703;
  --c3: #023047;
  --c4: #219EBC;
  --c5: #8ECAE6;
  --c6: #E5E5E5;
  --c7: #F8F9FA;


  /* tag colors */
  --blue:#6699CC;
  --yellow: #FFF275;
  --orange: #FF8C42;
  --light-red: #FF3C38;
  --dark-red: #A23E48;
}

body, html {
    font-family: 'Montserrat' !important;
}


/* navbar */

.navbar-brand {
    color: #FFB703 !important;
    font-size: larger;
    font-style: italic;
    font-weight: bold !important;
    padding: 0px 15px 0px 30px !important;
}

.nav-item {
    margin: 0px 15px !important;
    font-size: 14px;
}

.font-awesome {
    font-size: 20px !important;
}

/* login */

.vh-100 {
    background-color: #F8F9FA !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.login-card {
    border: none !important;
}

.login-form-input {
    border-radius: 15px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: solid 1px #FFB703 !important;
    
}

.button-login {
    border-radius: 15px !important;
    font-size: medium;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    background-color: #8ECAE6 !important;
    border: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;

}

.button-login>a {
    color: none !important;
}

.placeholder-text {
    font-size: medium;
    color:#666666 !important;
}

.brand-logo {
    text-align: center;
    color: #FFB703 !important;
    font-size: larger;
    font-style: italic;
    font-weight: bolder !important;
    margin-top: 20px !important;
}

.card {
    border-radius: 20px !important;
}

.form-outline-bottom {
    padding-bottom: 40px !important;
}


/* headings & paragraphs */

h1 {
    padding: 10px;
}

h2 {


}

h3 {


}

h4 {


}

p {
    padding: 12px;
}

/* dropdown */

/* buttons */

/* button dropdowns */

/* navbar */

/* labels & badges */