<div class="hbses">
<div class="row" style="padding-top: 40px !important; color: var(--c1) !important">




    <div class="col-lg-3" style="padding-left: 0px !important; height:100%;"><p style="color:#023047; font-size:30px;">Acceptance Ready</p>
        <div class="card projekt-notification2 col-10" >
            <div class="card-body">
                <button id="modal-btn/1"  style="background-color:Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden0; outline:none; text-align:left;">
                    <b style="color:#023047; font-size:20px;">User Story: </b>
                    <b style="color:white; font-size:20px;">ZGODBA 46</b>
                    <br>
                    <br>
                    <small style="color:#023047;">Acceptance tests done:</small><span style="color:white;"> Yes</span><br>
                    <small style="color:#023047;">Priority</small><span style="color:white;"> Could have</span><br>
                    <small style="color:#023047;">Business value:</small><span style="color:white;"> 5</span><br>
                    <small style="color:#023047;">Size:</small><span style="color:white;"> 2</span><br>
                    <br>
                  </button>
                    <a href=""  class="btn projekt-management-button btn-dark"
                    style="background-color: #FB8500 !important; padding-top: 10px; margin-right:5px" id = "accept">ACCEPT</a>
                    <a href=" "  class="btn projekt-management-button btn-dark"
                    style="background-color: #FF3C38 !important; padding-top: 10px" id = "decline">DECLINE</a>       
            </div>
        </div> 
            
    </div>


        <div class="col-lg-3" style="padding-left: 0px !important; height:100%;"><p style="color:#023047; font-size:30px;">Finished</p>
            <div class="card projekt-notification col-10">
              <div class="card-body">
                <button id="modal-btn/2"  style="background-color:Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden0; outline:none; text-align:left;">
                    <b style="color:#023047; font-size:20px;">User Story: </b>
                    <b style="color:white; font-size:20px;">ZGODBA 1</b>
                    <br>
                    <br>
                    <small style="color:#023047;">Acceptance tests done:</small><span style="color:white;"> Yes</span><br>
                    <small style="color:#023047;">Priority</small><span style="color:white;"> Should have</span><br>
                    <small style="color:#023047;">Business value:</small><span style="color:white;"> 5</span><br>
                    <small style="color:#023047;">Size:</small><span style="color:white;"> 5</span><br>
                    <br>
                    </button>
                    <a href=""  class="btn projekt-management-button btn-dark"
                    style="background-color: #FB8500 !important; padding-top: 10px; margin-right:5px" id = "accept/2">ACCEPT</a>
                    <a href=" "  class="btn projekt-management-button btn-dark"
                    style="background-color: #FF3C38 !important; padding-top: 10px" id = "decline/2">DECLINE</a>                
              </div>
            </div>
        
      </div> 








  <div id="my-modal" class="modalacc">
    <div style="background-color:#023047; width:500px; height:500px; margin:15%; border-radius: 20px;">
      <div class="modal-body-acc" style="border-radius: 20px;">
        <span class="close" id="close">&times;</span>
        <br>
        <p style="text-align:center; color:#8ECAE6;">USER STORY INFOMRATION</p>
        <b style="color:white;">   TASKS: </b>
         <ul style="color:#8ECAE6;">
          <li id="tekst">Načrtovanje plakata.</li>
          <li>Evaluacija gradiva.</li>
          <li>Preračunavanje finančnih sredstev.</li>
          <li>Planiranje promocij.</li>
          <li>Testiranje znanja.</li>
         </ul>
         <br>

          <b style="color:white;">   ACCEPTANCE TESTING: </b>
            <ul style="color:#8ECAE6;">
            <li>Načrtovanje plakata.</li>
            <li>Evaluacija gradiva.</li>
            <li>Preračunavanje finančnih sredstev.</li>
            <li>Planiranje promocij.</li>
            <li>Testiranje znanja.</li>
            <li>Testiranje znanja.</li>
          
            
        </ul> 
      </div>
    </div>
  </div>


  




</div> 
</div>





<script>
  const closeBtn = document.querySelector('.close');
  closeBtn.addEventListener('click', closeModal);
  function closeModal() {
    document.getElementById("my-modal").style.display = 'none';
    }
  
  $('button').on('click', function() {
    id1 = this.id;
    let result1 = id1.includes("1");
    let result2 = id1.includes("2");


    if (result1 == 1) {
       document.getElementById("my-modal").style.display= "block";
       document.getElementById("tekst").innerHTML = "JABOLKA";
      }

      if (result2 == 1) {
       document.getElementById("my-modal").style.display= "block";
       document.getElementById("tekst").innerHTML = "SPREMEMBA";
      }

    });
</script>

<script>
  $('button').on('click', function() {
    id1 = this.id;
    let result1 = id1.includes("accept");
    let result2 = id1.includes("decline");

    if(result1 == 1) {
      let btn = id1.replace("accept", "modal-btn");
      document.getElementById(btn).style.displa = "none";
    }

    if(result1 == 2) {
      let btn = id1.replace("decline", "modal-btn");
      document.getElementById(btn).style.displa = "none";
    }

</script>




