{{!-- osnovni podatki uporabnika, urejanje podatkov, logout --}}
<br>

<h4 class="card-title">Hello, /name+surname/</h5>
<br>
<div class="card" >
  <div class="card-body">
    <h5 class="card-title">User data</h5>
    
    <div style="padding-bottom: 10px !important">
    <button class="btn btn-dark">Edit your user data</button>
    </div>
    {{!-- logout ga preusmeri na '/' (login page) in odstrani zeton oz. flag, ki nakazuje, da je prijavljen --}}
    <button class="btn btn-dark">Logout</button>
  </div>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
{{!-- projekti uporabnika --}}

<h4 class="card-title">Your projects</h5>