
<div class="hbses"><br>
{{!-- some info about user --}}
<h4 class="card-title">Hello, <span style="color: var(--c1) !important">{{name}} {{surname}}</span></h5>




      <div class="" style="padding: 30px 0px 30px 0px !important">
        <a href="/account"><button type="" class="btn submit-form" 
        style="background-color: var(--c4) !important; width: 250px !important; margin: 0px !important">Edit account information</button></a>
        
      </div>
    
                      

{{!-- projekti uporabnika --}}

<h4 class="card-title">Your projects</h5>
<div class="card-group">
  <div class="row">
    {{#each activeProjects as |activeProject|}}

        <a href="/project/{{activeProject.idOfProject}}">
        <div class="card projekt-card" style="padding: 30px !important; background-color: var(--c6) !important">
          <div class="card-body">
          <h4>{{activeProject.name}}</h4>
          </div>
        </div>

        </a>
      


    {{/each}}
  </div>
  </div>

</div>