
<!DOCTYPE html>
<html lang="sl">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="it">
  <meta name="keywords" content="scrum aplikacija">

  <title>Scrumly</title>
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <!-- Animate Css -->
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <!-- Icon Font css -->
  <link rel="stylesheet" href="/stylesheets/all.css">
  <link rel="stylesheet" href="/stylesheets/Pe-icon-7-stroke.css">
  <!-- Themify icon Css -->
  <link rel="stylesheet" href="/stylesheets/themify-icons.css">
  <!-- Slick Carousel CSS -->
  <link rel="stylesheet" href="/stylesheets/slick.css">
  <link rel="stylesheet" href="/stylesheets/slick-theme.css">
  <script src="//code.jquery.com/jquery.min.js"></script>
<script src="/javascripts/jquery.passtrength.js"></script>


  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/26c7846058.js" crossorigin="anonymous"></script>
</head>
<body>
 
    

    
</body>


<main>
    
        {{{body}}}
</main>




 <!-- Main jQuery -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Slick Slider -->
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/jquery.easing.1.3.js"></script>
    <!-- Map Js -->
    <script src="/js/gmap3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwIQh7LGryQdDDi-A603lR8NqiF3R_ycA"></script>

    <script src="/js/contact.js"></script>
    <script src="/javascripts/theme.js"></script>
    
  </html>