<section class="vh-100" style="padding: 0px !important">

  <div class="container py-5 h-100">
      
    <div class="row d-flex justify-content-center align-items-center h-100">
        
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          
        <div class="card shadow-2-strong login-card">

        <h1 class="brand-logo">scrumly</h1>

          <div class="card-body p-5 text-center">

            
            <form method="post">
            <div class="form-outline mb-4 ">
              <input name="username" id="username" class="form-control form-control-lg login-form-input placeholder-text"  placeholder="Username"/>
              
            </div>

            <div class="form-outline form-outline-bottom mb-4">
               
              <input name="password" id="password" type="password" class="form-control form-control-lg login-form-input placeholder-text" placeholder="Password"/>
              
            </div>

        

            <a href="/projects"><button type="submit" class="btn btn-primary btn-lg btn-block button-login w-50">Login</button></a>

            </form>
        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>