<section class="vh-100" style="padding: 0px !important">

  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="col-12 col-md-8 col-lg-6 col-xl-5">

        <div class="card shadow-2-strong login-card">

        <h1 class="brand-logo">scrumly</h1>

          <div class="card-body p-5 text-center">


            <form method="post">

            <div class="form-outline mb-4 ">
              <input name="username" id="username" class="form-control form-control-lg login-form-input placeholder-text"  placeholder="Username" required>

            </div>

            <div class="form-outline form-outline-bottom mb-4">

              <input name="password" id="password" type="password" type="password" pattern="(?!.* ).{12,128}" onCopy="return false" onpaste="return false;" title="The password must be at least 12 characters long and shouldn't contain whitespaces!" class="form-control form-control-lg login-form-input placeholder-text" placeholder="Password" required>
              <input id="prikazi" style="margin-right: 10px;margin-top:20px;" type="checkbox" onClick="myFunction()"><span style="margin-top: 10px !important; font-size: 14px !important">show last character</span>
              <script>
                function myFunction() {
                  var x = document.getElementById("password");
                   var pass = document.getElementById("password").value;
                   
                  if (x.type === "password") {
                    x.type = "text";
                    var pass1 = new String;
                    pass1 = pass;
                    console.log(pass1.length)
                    for (var char in pass1) {
                      console.log(pass1[char]);
                      
                    }
                    
                    console.log(pass);
                    console.log(pass1);
                    var last = pass1.substr(pass1.length-1,pass1.length);
                    var previous =  '•'.repeat(pass1.length-1);
                    previous = previous.concat(last);
                    console.log(previous);

                    $('#password').val(previous);



                  } else {
                    x.type = "password";
                  }
                }
                $('#password').passtrength({
                      minChars: 12
                });
                $('#password').passtrength({
                  passwordToggle: true,
                  
                  
                });

                $('#password').passtrength({
                  tooltip: true,
                  textWeak: "Weak",
                  textMedium: "Medium",
                  textStrong: "Strong",
                  textVeryStrong: "Very Strong",
                });

                
                </script>
            </div>


            {{!-- ce pride do tega, da streznik sporoci, da sta uporabnisko ime in geslo napacno, se izpise alert --}}
            {{#if napaka}}
              <div class="alert alert-warning" id="wrongUsername" role="alert" style=" padding-top: 8px; border-radius: 18px">
              <span style="font-size: 14px !important">Wrong username or password!</span>
              </div>
            {{/if}}

            <button type="submit" id="login" class="btn btn-primary btn-lg btn-block button-login w-50">Login</button>
            </a>

            </form>

          </div>
        </div>
      </div>
      
    </div>
              <p style="text-align: center !important; margin-top: -200px !important"><a style="color: var(--c4) !important; font-size: 30px !important"><i class="fa-solid fa-book"></i> </a></p>


  </div>

</section>
