<div class="hbses">

<div class="col-sm-12">
        <div class="card user-add">
        <div class="card-body">
            <h5 class="card-title">Publish to project wall</h5>


                    <form action="/new-publication" method="post" style=""></form>
                        <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Publication</label>
                            <textarea class="form-control input-form-lglg" name="aboutText" id="info" aria-describedby="emailHelp" required></textarea>
                        </div>


                        <div style="padding-top: 10px !important">
                        <button type="submit" class="btn submit-form">Publish</button>
                        </div>
                    </form>
        </div>
                    

</div>
    
</div>
