<div class="hbses">

<div class="col-sm-12">
        <div class="card user-add">
        <div class="card-body">
            <h5 class="card-title">New sprint</h5>

                        <form id="posodobiUporabnika" method="post" style="">
                          <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Start date</label>
                            <input class="form-control input-form" name="startDate" id="startdate" type="date" id="start" name="trip-start">
                        </div>

                        <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">End date</label>
                            <input class="form-control input-form" name="endDate" id="enddate" type="date" id="end" name="trip-end">
                        </div>



                        <div class="mb-3" style="padding-bottom: 10px !important">
                            <label class="form-label" style="padding-top: 10px !important">Sprint size</label>
                            <input class="form-control input-form" type="number" min="1" name="sprintSize" id="sprintsize" aria-describedby="emailHelp" required>
                        </div>

                        {{#if napaka1}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">End date cannot be before start date!</span>
                          </div>
                        {{/if}}
                        {{#if napaka2}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">Start date must be in the future!</span>
                          </div>
                        {{/if}}
                        {{#if napaka3}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">End date must be in the future!</span>
                          </div>
                        {{/if}}
                        {{#if napaka4}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">Start and end date must be in the future!</span>
                          </div>
                        {{/if}}
                        {{#if napaka5}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">In this time Sprint {{number}} is already running!</span>
                          </div>
                        {{/if}}
                        {{#if napaka6}}
                          <div class="alert alert-warning" id="wrongPass" role="alert" style=" padding-top: 10px; border-radius: 18px; margin-top: 10px !important">
                          <span style="font-size: 14px !important">The sprint size is too big for the number of days for this sprint!</span>
                          </div>
                        {{/if}}
                        <div style="padding-top: 10px !important">
                        <button type="submit" class="btn submit-form">Add new sprint</button>
                        </div>
                        </form>
                        </div>

                      </div>




</div>
