<div class="hbses">

    <div class="projekt-time" style="width:800px; margin:0 auto; margin-top:20px;" >


        <div style="width: 100%px; margin-left:20px;">
            <div>
                <div style="font-size:20px;color:#023047;text-align:left">
                <div style="font-size:20px;color:#023047">
                Task:
                <b style="color:white;">{{name}}</b>
                </div>
                <div style="font-size:20px;color:#023047">
                From user story:
                <b style="color:white;">{{userStoryName}}</b>
                </div>
                <div style="font-size:20px;color:#023047">
                Hours:
                <b style="color:white;">{{taskEstimatedHours}}</b>
                </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <div style="float: left; margin-right: 10px; width: 20%;">
            <div style="color:#023047; font-size:20px; text-align:center;">Date</div>
            <br>
            {{#each datumi}}
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">{{formatirajDatum this}}</div>
            {{/each}}
        </div>


        <div style="float: left; margin-right: 10px; width: 300px;">
            <div style="color:#023047; font-size:20px; text-align:center;">Worktime [hours]</div>
            <br>
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">3</div>
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">4</div>
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">10</div>
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">1</div>
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">2</div>
            <input class="form-control input-time" style="margin-bottom: 5px !important;" align="center"></input>

        </div>

        <div style="overflow: hidden; width: 300px;">
            <div style="color:#023047; font-size:20px; text-align:center;">Future Estimation [hours]</div>
            <br>
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">8</div>
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">6</div>
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">3</div>
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">1</div>
            <div class="form-control input-time" style="margin-bottom: 5px !important;" align="center">2</div>
            <input class="form-control input-time" style="margin-bottom: 5px !important;" align="center"></input>

        </div>


    </div>
</div>
