<form id="dodajUporabnika" method="post" style="padding-top: 60px  !important;">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input class="form-control" name="name" id="name" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label">Surname</label>
    <input class="form-control" name="surname" id="surname" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input class="form-control" name="username" id="username" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" name="email" id="email" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input class="form-control" name="password" id="password" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label">Role</label>
    <input class="form-control" name="role" id="role" aria-describedby="emailHelp">
    
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>